.container{
			width: 70vw;
			height: 70vh;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			border: 3px solid green;
			margin: 9% 15%;
			background-color:beige;
	       }
		h1{ 
		text-align: center;
		color: blueviolet;
			}
			a:link, a:visited {
			background-color: gainsboro;
			color: black;
			border: 2px solid green;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: block;
			
			font-size: 35px;
			
			}
			a:hover, a:active {
			background-color: green;
			color: white;
			}
.index{ 
display: inline-grid;
}